<a href='/home'>home</a> | <a href='/direct_messages/received'>direct messages (<%= @dm_count%>)</a> | <a href='/logout'>logout</a>
<table class="columns" cellspacing="0">
	<tr>
		<td id="content" class="round-left column">
			<div class='wrapper'>
			    <form method="post" action="/register">	
					<table class='chirp-box'>
				        <tr><td>Application ID:</td><td><input size=50 id='update-button' type="text" name="app_id" value="<%= @app_id %>" /></td></tr>
				        <tr><td>Push secret:</td><td><input size=50 id='update-button' type="text" name="push_secret" value="<%= @push_secret %>" /></td></tr>
				        <tr><td id='update-box'><input id='update-button' value="register" type="submit"></td></tr>
					</table>
				</form>
			</div>
		</td>
		<td id='side_base' class='column round-right'>
			<div id="side">
				<div class="section" id="profile">
					<div class="user_icon">
						<a href="/<%= @myself.email%>"><img width="48" height="48" src="<%= @myself.photo_url%>" class="side_thumb photo fn"/></a>
						<p id="me_name">
							<%= @myself.nickname%>
						</p>
						<span id='me_email'><%= @myself.email%></span>
					</div>

					<table cellspacing="0" class="stats">
						<tbody><tr>
							<td>
								<a rel="me" id="following_count_link" href="/follows">
									<span class="stats_count numeric" id="following_count"><%= @myself.follows.size%></span>
									<br/>
									<span class="label">Following</span>
								</a>
							</td>
							<td>
								<a id="follower_count_link" href="/followers">
									<span class="stats_count numeric" id="follower_count"><%= @myself.followers.size%></span>
									<br/>
									<span class="label">Followers</span>
								</a>
							</td><td>
								<a href="/sausheong"><span class="stats_count numeric" id="update_count"><%= @myself.chirps.size%></span>
									<br/>
									<span class="label">Chirps</span></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr>
	</table>